.temp-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  padding: 40px 20px;
  background-color: #12cbbc;
  color: rgb(238, 255, 254);
}
.temp-container {
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  width: 70%;
}
.secondary-head {
  padding: 20px 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  background-color: #12cbbc;
  color: rgb(16, 64, 93);
  background-color: rgb(255, 255, 255);
}
p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(50, 50, 50);
  padding-bottom: 20px;
}
ol {
  list-style:disc;
}
#download-icon {
  height: 18px;
}
.download-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}
span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}
span:hover {
  text-decoration: underline;
}
.link-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-style1 {
  list-style: auto;
}
.sub-head {
  padding: 20px 0 15px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  background-color: #12cbbc;
  color: rgb(16, 64, 93);
  background-color: rgb(255, 255, 255);
}
.title-page-example {
  height: 75vh;
  margin: auto;
}